<h1>@zestia/ember-auto-focus</h1>

{{#if this.showInput}}
  <AutoFocus>
    <input>
  </AutoFocus>
{{/if}}

<p>
  <button onclick={{action (mut this.showInput) true}}>Show input</button>
  <button onclick={{action (mut this.showInput) false}}>Hide input</button>
</p>


{{#if this.showComponent}}
  <AutoFocus @selector=".outer > .inner > .foo">
    <div class="outer">
      <span class="inner">
        <div class="foo" tabindex="0"></div>
      </span>
    </div>
  </AutoFocus>
{{/if}}

<p>
  <button onclick={{action (mut this.showComponent) true}}>Show component</button>
  <button onclick={{action (mut this.showComponent) false}}>Hide component</button>
</p>