<h1>ember-auto-focus</h1>

{{#if showInput}}
  {{#auto-focus}}
    <input>
  {{/auto-focus}}
{{/if}}

<p>
  <button onclick={{action (mut showInput) true}}>Show input</button>
  <button onclick={{action (mut showInput) false}}>Hide input</button>
</p>


{{#if showComponent}}
  {{#auto-focus selector='.outer > .inner > .foo'}}
    <div class="outer">
      <span class="inner">
        <div class="foo" tabindex="0"></div>
      </span>
    </div>
  {{/auto-focus}}
{{/if}}

<p>
  <button onclick={{action (mut showComponent) true}}>Show component</button>
  <button onclick={{action (mut showComponent) false}}>Hide component</button>
</p>