{{#if this.shouldShowInput}}
  <p>
    <input {{auto-focus}}>
  </p>
{{/if}}

<code>
  &lt;input \{{auto-focus}}&gt;
</code>

<p>
  Notice that on the second render of the input, the autofocus <em>does</em> focus the input
</p>

<p>
  <button {{on "click" this.showInput}} type="button">Show input</button>
  <button {{on "click" this.hideInput}} type="button">Hide input</button>
</p>