{{#if this.shouldShowInput}}
  <p>
    <input {{auto-focus}} />
  </p>
{{/if}}

<code>
  &lt;input\{{auto-focus}}&gt;
</code>

<p>
  Notice that on the second render, the input
  <em>
    is
  </em>
  focused.
</p>

<p>
  <button type="button" {{on "click" this.showInput}}>
    Show input
  </button>
  <button type="button" {{on "click" this.hideInput}}>
    Hide input
  </button>
</p>
