{{#if this.shouldShowInput}}
  <input {{auto-focus}}>
{{/if}}

<p>
  <button {{on "click" this.showInput}} type="button">Show input</button>
  <button {{on "click" this.hideInput}} type="button">Hide input</button>
</p>